# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio cache files
.vs/
*.cache

# Others
node_modules/
*.log
*.tmp
*.pidb

# Package directories
**/packages/
# The next line includes `!**/packages/build/` if needed.
